<?xml version="1.0"?>
<model>
  <name>dynamic_obstacle</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>AMR Developer</name>
    <email>developer@todo.todo</email>
  </author>
  <description>
    Dynamic obstacle (moving warehouse worker/cart) with high-visibility visual and solid collision.
  </description>
</model>
